HOST: https://www.teamoons.com/api

--- Teamoons.com ---

--
Resource: User
Represents person on Teamoons.com.
### Properties
- `email[string length:200, required]` - _Email_
- `name[string transient]` - _Fullname_
- `firstname[string length:100]` - _Firstname_
- `surname[string length:100]` - _Surname_
--

--
Testing
Demonstration response of API.
--

Success Response
GET test/200
> Accept: application/json
< 200
< Content-Type: application/json
{"status":200}

Unauthorized
GET test/401
> Accept: application/json
< 401
< Content-Type: application/json
{"status":401}

Forbidden
GET test/403
> Accept: application/json
< 403
< Content-Type: application/json
{"status":403}

Server Error
GET test/500
> Accept: application/json
< 500
< Content-Type: application/json
{"status":500}


--
Localization
Localized texts used in application.
--

All localized texts
GET localization/
> Accept: application/json
< 200
< Content-Type: application/json
{"app.title":"This is awesome App","app.description":"Description of App"}


--
Authentication
API for authentication subject. Supported authentication method: HTML Form.
--

Simple Web-Authentication via HTML Form. After success authentication return HTTP 200 OK response if authentication not finish success, than return HTTP 401 UNAUTHORIZED.
### Parameters
- `username [string]` - Username of Subject (Form param)
- `password [string]` - Password of Subject (Form param)
POST security/authenticateViaForm
> Accept: application/x-www-form-urlencoded
< 200
< Content-Type: application/json
{}
+++++
< 401
< Content-Type: application/json
{}

If actual session is authenticated, than invalidate session and unauthenticated it. Always return HTTP 200 OK.
GET security/unAuthenticate
> Accept: application/json
< 200
< Content-Type: application/json
{}

Return HTTP 200 OK response if actual session is authenticated or HTTP 401 UNAUTHORIZED if not.
GET security/isAuthenticated
> Accept: application/json
< 200
< Content-Type: application/json
{}
+++++
< 401
< Content-Type: application/json
{}


--
User
Manage users of Teamoons.com.
--

Actual logged user. If user isn't authenticated than return HTTP 403 FORBIDDEN.
GET user/me
> Accept: application/json
< 200
< Content-Type: application/json
{"email":"thomas.buner@example.com","name":"Thomas Buner","firstname":"Thomas","surname":"Buner"}
+++++
< 403
< Content-Type: application/json



